<!DOCTYPE html>
<html lang="ru" ng-app="app" art-main-dir>
<head>
  <title ng-bind="pageData.title"></title>

  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <base href="/">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{'/local/templates/.default/assets/vendor.css'|asset }}">
  <link rel="stylesheet" type="text/css" href="{{'/local/templates/.default/assets/bundle.css'|asset }}">
  <!-- eof CSS -->

  <!-- js -->
  <script rel="preload" src="{{'/local/templates/.default/assets/vendor.js'|asset }}" type="text/javascript" charset="utf-8" defer></script>
  <script rel="preload" src="{{'/local/templates/.default/assets/bundle.js'|asset }}" type="text/javascript" charset="utf-8" defer></script>
  <!-- eof js -->
</head>

<body>
  <style>
    h1 {
      padding-left:  50px;
    }
    form {
      padding: 50px;
    }
    .form-field {
      display: inline-block;
    }
  </style>
  <h1>Bacon Js form <a href="https://baconjs.github.io/tutorials.html" target="blank">tutorial</a></h1>
  <form id="register-form" name="register-form" action="/" method="GET">
    <div class="form-field" id="username">
      <input type="text" name="username" value="">
    </div>
    <div class="form-field" id="fullname">
      <input type="text" name="fullname" value="">
    </div>
    <button type="submit">register</button>
  </form>
  <div class="default">
    <h1>Bourbon-neat grid demo</h1>
    default demo grid element 5 cols in two differetnt grids/ swithes at 1280px
    styles in css/components/default
  </div>
</body>
</html>
